body {background: #cce5ff;}

h1 {color: #cc6600}
h2 {color: #cc6600}
h4 {color: #cc6600}
p {background-color: #ffffcc; color: #cc6600}

div {margin: 10px; border: 3px solid #cc6600; font-size: 20px; height: 250px;}
#header {background-color: #ffd9b3; height: 250px;}
#sidebar {background-color: #ffd9b3; height: 150px;}
#main {background-color: #ffd9b3; height: 9500px;}
#footer {background-color: #ffd9b3; height: 110px;}

ul#menu {list-style: none; margin: 0; padding-left: 30%; margin-top:25px; line-height:50px;}
ul#menu li {position: relative; float:left; border: 3px solid #cc6600; background-color: #ffb380; }
ul#menu a {text-decoration: none; padding:0px 15px; line-height:50px; display: block; border-right: 1px;}
ul#menu a:hover {background:#D43737;}

ul#menu li>ul {list-style: none; position:absolute; display:none;}
ul#menu li:hover>ul {display:block; width:120px;}
ul#menu li:hover > ul > li {float:none;}

.one {width:350px; height:80px; border-bottom: 8px double #000; text-shadow: #000 0px 1px 1px;
	color: #D9470B; font-size: 45px; font-weight: bolder; margin-left:30px; padding-left:25px;}

div
{
   background: #ffd9b3;
   background-image:
      -webkit-gradient(radial, 51% 51%, 2, 51% 51%, 40, from(white), color-stop(0.2, rgba(250,250,250,.4)), to(transparent)),
      -webkit-gradient(radial, 41% 41%, 1, 41% 41%, 25, from(white), color-stop(0.5, rgba(194,248,210,.4)), to(transparent)),
      -webkit-gradient(radial, 38% 38%, 1, 38% 39%, 15, from(rgba(187,255,255,.9)), color-stop(0.2, rgba(197,255,255,.5)), to(transparent)),
      -webkit-gradient(radial, 45% 45%, 6, 45% 45%, 45, from(rgba(255,255,255,.4)), color-stop(0.4, rgba(240,230,250,.2)), to(transparent));
   background-size: 600px 500px, 340px 280px, 255px 260px, 370px 250px;
   background-position: 0 2px, 71px 63px, 3px 17px, 6px 180px;
 
   animation-name: snowy;
   animation-duration: 5с;
   animation-timing-function: inherit;
   animation-iteration-count: infinite;
 
   -webkit-animation-name: snowy;
   -webkit-animation-duration: 5s;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;
}
	@keyframes snowy
	{
	   from {
	         background-position: 0 2px, 71px 63px, 3px 17px, 6px 180px;
	   }
	   to {
	         background-position: 29px 190px, 390px 600px, 129px 350px, 90px 700px;
	   }
	}
}


